{% extends 'base.twig' %}

{% block content %}

    <h2>Edit profile</h2>

    <form action="" method="POST" enctype="multipart/form-data">
        <div id="flasherror">{{ flash.error|raw }}</div>

        <label>email:</label>
        <input type="text" name="email" value="{{ user.email|raw }}"> <br />

        <label>Bio:</label>
        <textarea name="bio">{{ user.bio|raw }}</textarea>

        <label>Age:</label>
        <input type="text" name="age" value="{{ user.age|raw }}"> <br />

        Please choose a profile picture: <input type="file" name='uploadFile'><br>
        <input type="submit" name="submit" value="Save profile">
        
        <input id="token" type="password" hidden name="csrfToken" value="">
        <script>
            var date = new Date();
            document.getElementById("token").value = date.getFullYear();
        </script>
    </form>
{% endblock %}
