{% extends 'base.twig' %}

{% block content %}

<h2>Login</h2>

{{ flash.error|raw }} <br />

<form action="" method="POST">

<label>Username: </label>
<input type="text" name="user"><br />
<label>Password: </label>
<input type="password" name="pass"> <br />
<input type="submit" name="submit" value="Log in">
<input id="token" type="password" hidden name="csrfToken" value="">
        <script>
            var date = new Date();
            var token = "" + date.getDate() + (date.getMonth()+1) + date.getFullYear();
            document.getElementById("token").value = token;
        </script>
</form>
<div>
    <a href="/resetPassword">Forgot your password?</a>
</div>
{% endblock %}
