{% extends 'base.twig' %}

{% block content %}

<h2>New user</h2>

<b>{{ flash.info|raw }}</b> <br />
<b>{{ flash.error|raw }}</b> <br />

<form action="" method="POST">

<label>Username: </label>
<input type="text" name="user" value="{{ username|raw }}"> <br />
<label>sequrity Question: </label>
<input type="text" name="securityquestion"> <br />
<label>sequrity answer: </label>
<input type="password" name="securityanswer"> <br />
<label>Password: </label>
<input type="password" name="pass"> <br />
<input type="submit" name="submit" value="Create new user">
</form>
{% endblock %}
