{% extends 'base.twig' %}

{% block content %}

<h2>Reset Password</h2>

<form action="" method="POST">
    <label>Username: </label>
    <input type="text" name="user"> <br />
    <label> type inn your new password: </label>
    <input type="password" name="pass"> <br />
    <input type="submit" name="submit" value="Reset password">
</form>

{% endblock %}
